# This is a comment
# select the cahnnel, to override it pass an argument to the script. More info in readme.txt file, please read it
channel==release
# language of your choice, UX only supports en-US and this config is skipped
lang==it
# if true the script try to download dictionaries or to include the dictionaries folder in package, if available
dict==false
# if true, the launcher to start the package in portable mode is included
launcher==true
# set the type of archive, zip or 7z, or other formats supported by 7z
archivetype==zip
# the compression level, for more info read the readme.txt file
level==5
   # if true try to delay some operations. Script could not works correctly if the folder is syncronized via dropbox or similar software
sleep==false
# WARNING !!!
# Please not modify the following preferences, they are necessary to the script to works correctly
allowedchannel==release,beta,aurora,nightly
help==false
last==false
app==SeaMonkey
lowerapp==seamonkey
color=1f
release==http://www.seamonkey-project.org/releases/
beta==http://www.seamonkey-project.org/releases/
aurora==http://ftp.mozilla.org/pub/mozilla.org/seamonkey/nightly/latest-comm-aurora
nightly==http://ftp.mozilla.org/pub/mozilla.org/seamonkey/nightly/latest-comm-central-trunk